<section class="fl">
    <span class="fl">对比条件：</span>
    <span class="fl group-name">
        <span ng-repeat="group in vm.groupCompare track by $index">{{group}}<span
                ng-if="$index!==vm.groupCompare.length - 1">， </span></span>
    </span>
    <input type="button" class="btn-primary ml10" ng-click="vm.goCondition()" value="更改条件">
    <button type="button" class="btn-cancel btn-detail ml10" ng-mouseenter="vm.showGroup=true" ng-mouseleave="vm.showGroup=false">详细群体</button>
    <div class="conditon-detail-alert" ng-if="vm.showGroup">
        <ul>
            <li class="clearfix" ng-repeat="group in vm.groupCompare track by $index">
                <span class="fl">群体{{$index+1}}：</span>
                <span class="fl">{{group}}</span>
            </li>
        </ul>
    </div>
</section>