<section class="filter-condition clearfix">
    <section class="fl filter-condition-action" ng-if="vm.filterConf.choosedOption.values">
        <h3>选择{{vm.filterConf.title}}条件 <span ng-if="vm.filterConf.tip">过滤条件可以有多个，对比项不能为附加条件。示例:对比不同专业汉族男生的情况,则汉族、性别男为过滤条件</span>
        </h3>
        <section>
            <div class="filter-option">
                <!--基本信息部分:-->
                <span class="title-left">基本信息</span>
                <ul class="list-inline  filter-list">
                    <!--学院-->
                    <li ng-show="vm.filterConf.choosedOption.cName!='专业'&& vm.filterConf.choosedOption.cName!='学院'&&vm.filter.college.length>0">
                        学院<span class="list-icon"></span>
                        <ul class=" list-inline list-second">
                            <li ng-repeat="college in vm.filter.college">
                                <label><input ng-click="vm.updateFilterCondition($event,college,'college','学院')"
                                              ng-disabled="vm.filterConf.disabled"
                                              type="checkbox" ng-checked="vm.isFilterSelected('college', college.id)"
                                              value="{{college.id}}">{{college.name}}</label>
                            </li>
                        </ul>
                    </li>
                    <!--专业-->
                    <li ng-show="vm.filterConf.choosedOption.cName!='专业'&& vm.filterConf.choosedOption.cName!='学院'">
                        专业<span
                            class="list-icon"></span>
                        <ul class=" list-inline list-four">
                            <li ng-repeat="major in vm.filter.major">{{major.name}}<span class="list-icon"></span>
                                <ul class=" list-inline list-third">
                                    <li ng-repeat=" majors in major.major">
                                        <label><input type="checkbox" value="{{majors.id}}"
                                                      ng-checked="vm.isFilterSelected('majors', majors.id)"
                                                      ng-disabled="vm.filterConf.disabled"
                                                      ng-click="vm.updateFilterCondition($event,majors,'major','专业')">{{majors.name}}</label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!--年级-->
                    <li ng-show="vm.filterConf.choosedOption.cName!='年级'">年级<span class="list-icon"></span>
                        <ul class=" list-inline list-second">
                            <li ng-repeat="grade in vm.filter.grade">
                                <label><input ng-click="vm.updateFilterCondition($event,grade,'grade','年级')"
                                              ng-disabled="vm.filterConf.disabled"
                                              type="checkbox" ng-checked="vm.isFilterSelected('grade', grade.id)"
                                              value="{{grade.id}}">{{grade.name}}级</label>
                            </li>
                        </ul>
                    </li>
                    <!--民族-->
                    <li ng-show="vm.filterConf.choosedOption.cName!='民族'">民族<span class="list-icon"></span>
                        <ul class=" list-inline list-second">
                            <li ng-repeat="nation in vm.filter.nation">
                                <label><input ng-click="vm.updateFilterCondition($event,nation,'nation','民族')"
                                              ng-disabled="vm.filterConf.disabled"
                                              type="checkbox" ng-checked="vm.isFilterSelected('nation', nation.id)"
                                              value="{{nation.id}}">{{nation.name}}</label>
                            </li>
                        </ul>
                    </li>
                    <!--年龄-->
                    <li ng-show="vm.filterConf.choosedOption.cName!='年龄'">年龄<span class="list-icon"></span>
                        <ul class=" list-inline list-second">
                            <li ng-repeat="age in vm.filter.age">
                                <label><input ng-click="vm.updateFilterCondition($event,age,'age','年龄')"
                                              ng-disabled="vm.filterConf.disabled" type="checkbox"
                                              ng-checked="vm.isFilterSelected('age', age.id)"
                                              value="{{age.id}}">{{age.name}}</label>
                            </li>
                        </ul>
                    </li>
                    <!--性别-->
                    <li ng-show="vm.filterConf.choosedOption.cName!='性别'">性别<span class="list-icon"></span>
                        <ul class=" list-inline list-second">
                            <li ng-repeat="gender in vm.filter.gender">
                                <label><input ng-click="vm.updateFilterCondition($event,gender,'gender','性别')"
                                              ng-disabled="vm.filterConf.disabled" type="checkbox"
                                              ng-checked="vm.isFilterSelected('gender', gender.id)"
                                              value="{{gender.id}}">{{gender.name}}</label>
                            </li>
                        </ul>
                    </li>
                    <!--生源地-->
                    <li class="three-word" ng-show="vm.filterConf.choosedOption.cName!='生源地'">生源地<span
                            class="list-icon"></span>
                        <ul class=" list-inline list-second">
                            <li ng-repeat="province in vm.filter.province">
                                <label><input ng-click="vm.updateFilterCondition($event,province,'province','生源地')"
                                              ng-disabled="vm.filterConf.disabled"
                                              type="checkbox" ng-checked="vm.isFilterSelected('province', province.id)"
                                              value="{{province.id}}">{{province.name}}</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="filter-option">
                <!--生活相关部分-->
                <span class="title-left">生活相关</span>
                <ul class="list-inline  filter-list">
                    <!--经济水平-->
                    <li ng-show="vm.filterConf.choosedOption.cName!='经济水平'" class="four-word">经济水平<span
                            class="list-icon"></span>
                        <ul class=" list-inline list-second">
                            <li ng-repeat="economicLevel in vm.filter.economicLevel">
                                <label><input
                                        ng-click="vm.updateFilterCondition($event,economicLevel,'economicLevel','经济水平')"
                                        ng-disabled="vm.filterConf.disabled"
                                        type="checkbox"
                                        ng-checked="vm.isFilterSelected('economicLevel', economicLevel.id)"
                                        value="{{economicLevel.id}}">{{economicLevel.name}}</label>
                            </li>
                        </ul>
                    </li>
                    <!--助贷情况-->
                    <li class="four-word" ng-show="vm.filterConf.choosedOption.cName!='助贷情况'">助贷情况<span
                            class="list-icon"></span>
                        <div class=" list-inline list-second">
                            <select class="h30 lh30 ml20" ng-model="vm.assistYear"
                                    ng-options="schoolYear.name for schoolYear in vm.filter.schoolYear">
                            </select>
                            <ul class=" list-inline" ng-repeat="year in vm.filter.schoolYear"
                                ng-if="vm.assistYear.id === year.id">
                                <li ng-repeat="assist in vm.filter.assist">
                                    <label><input
                                            ng-click="vm.updateFilterCondition($event,assist,'assist','助贷情况')"
                                            ng-disabled="vm.filterConf.disabled"
                                            type="checkbox"
                                            ng-checked="vm.isFilterSelected('assist', assist.id)"
                                            value="{{assist.id}}">{{assist.name}}</label>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="filter-option">
                <!--学习实践部分-->
                <span class="title-left">学习实践</span>
                <ul class="list-inline  filter-list">
                    <!--课程排名-->
                    <li class="four-word" ng-show="vm.filterConf.choosedOption.cName!='课程排名'">课程排名 <span
                            class="list-icon"></span>
                        <div class="list-inline list-second">
                            <select class="h30 lh30 ml20" ng-model="vm.scoreRankTerm"
                                    ng-options="term.name for term in vm.filter.schoolTerm">
                            </select>
                            <ul class=" list-inline" ng-repeat="term in vm.filter.schoolTerm"
                                ng-if="vm.scoreRankTerm.id === term.id">
                                <li ng-repeat="scoreRank in vm.filter.scoreRank">
                                    <label><input
                                            ng-click="vm.updateFilterCondition($event,scoreRank,'scoreRank','课程排名')"
                                            ng-disabled="vm.filterConf.disabled"
                                            type="checkbox" ng-checked="vm.isFilterSelected('scoreRank', scoreRank.id)"
                                            value="{{scoreRank.id}}">{{scoreRank.name}}</label>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--学业异常-->
                    <li class="four-word" ng-show="vm.filterConf.choosedOption.cName!='学业异常'">学业异常<span
                            class="list-icon"></span>
                        <div class=" list-inline list-second">
                            <select class="h30 lh30 ml20" ng-model="vm.scoreErrorTerm"
                                    ng-options="term.name for term in vm.filter.schoolTerm">
                            </select>
                            <ul class=" list-inline" ng-repeat="term in vm.filter.schoolTerm"
                                ng-if="vm.scoreErrorTerm.id === term.id">
                                <li ng-repeat="scoreError in vm.filter.scoreError">
                                    <label><input
                                            ng-click="vm.updateFilterCondition($event,scoreError,'scoreError','学业异常')"
                                            ng-disabled="vm.filterConf.disabled"
                                            type="checkbox"
                                            ng-checked="vm.isFilterSelected('scoreError', scoreError.id)"
                                            value="{{scoreError.id}}">{{scoreError.name}}</label>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </section>
    <section class="fr choosed-condition" ng-if="vm.filterConf.choosedOption.values">
        <h3 class="clearfix">已选{{vm.filterConf.title}}条件 <a class="fr" href="javascript:;"
                                                            ng-click="vm.clearAllFilterCondtion()">全部清除</a></h3>
        <section>
            <dl class="clearfix" ng-repeat="item in vm.filterConf.filter">
                <dt class="fl">{{item.cName}}:</dt>
                <dd class="fl" ng-repeat="selected in item.objArr track by $index">
                    {{selected.rName}}
                </dd>
            </dl>
        </section>
    </section>
</section>