<div class="set-time fr">
    <select name="startYear" id="startYear" class="year" ng-model="startYear">
        <option value="{{year}}" ng-repeat="year in yearArr"
                ng-disabled="year > endYear">
            {{year}}年
        </option>
    </select>
    <select name="startMonth" id="startMonth" ng-model="startMonth">
        <option value="{{month}}" ng-repeat="month in months"
                ng-disabled="startYear == lastYear&&month>lastMonth||startYear==endYear&&endMonth<month">
            {{month}}月
        </option>
    </select>
    <i>-</i>
    <select name="endYear" id="endYear" class="year" ng-model="endYear">
        <option value="{{year}}" ng-repeat="year in yearArr"
                ng-disabled="year < startYear">
            {{year}}年
        </option>
    </select>
    <select name="endMonth" id="endMonth" ng-model="endMonth">
        <option value="{{month}}" ng-repeat="month in months"
                ng-disabled="endYear == lastYear&&month>lastMonth||startYear==endYear&&startMonth>month">
            {{month}}月
        </option>
    </select>
    <input class="btn-primary" type="button" value="查看" ng-click="submit()"/>
</div>