<section class="container-fluid echarts-container">
    <section class="row">
        <section class="col-md-12" ng-class="{'full-screen': vm.bar1Mode}">
            <section class="col-wrap">
                <header class="col-header">
                    <h3>柱状图一</h3>
                    <change-mode mode="vm.bar1Mode"></change-mode>
                </header>
                <section class="col-content">
                    <div id="bar1" class="echarts"></div>
                </section>
            </section>
        </section>
        <section  class="col-md-4" ng-class="{'full-screen': vm.bar2Mode}">
            <section class="col-wrap">
                <header class="col-header">
                    <h3>单维度占比</h3>
                    <change-mode mode="vm.bar2Mode"></change-mode>
                </header>
                <section class="col-content">
                    <div id="bar2" class="echarts"></div>
                </section>
            </section>
        </section>
        <section  class="col-md-8" ng-class="{'full-screen': vm.bar3Mode}">
            <section class="col-wrap">
                <header class="col-header">
                    <h3>柱状图三</h3>
                    <change-mode mode="vm.bar3Mode"></change-mode>
                </header>
                <section class="col-content">
                    <div id="bar3" class="echarts"></div>
                </section>
            </section>
        </section>
    </section>
</section>