@import "animation";

/*COMPONENT VAR*/
$fff: #fff;
$black: #000;
/**
*SEARCH COMPONENT
*/
$search-group-height: 40px;
$search-group-line-height: 40px;
$search-group-text-width: 220px;
$search-group-button-width: 40px;
$search-group-border: 1px solid $border-color;
$search-group-hover-border-color: $border-color;
$search-group-active-border-color: $active-color;
$search-icon-pos-top: 8px;
$search-icon-pos-right: 12px;
$search-text-radius: 5px 0 0 5px;
$search-btn-radius: 0 5px 5px 0;
.search-btn-group {
	height: $search-group-height;
	line-height: $search-group-line-height;
	button {
		position: relative;
		height: $search-group-height;
		width: $search-group-button-width;
		padding: 0;
		outline: 0;
		border: $search-group-border;
		border-left: 0;
		margin-left: -8px;
		vertical-align: top;
		background: $fff;
		border-radius: $search-btn-radius;
	}
	.icon {
		color: #a8bec9;
	}
	.search {
		position: absolute;
		top: $search-icon-pos-top;
		right: $search-icon-pos-right;
	}
	input[type="text"]:hover + button {
		border-color: $search-group-hover-border-color;
	}
	input[type="text"]:focus + button,
	input[type="text"]:active + button {
		border-color: $search-group-active-border-color;
	}
	input[type="text"]:focus + button .icon,
	input[type="text"]:active + button .icon {
		color: $search-group-active-border-color;
	}
	/*input[type="text"]:focus + button .search,
	input[type="text"]:active + button .search {
		background-position: 0 -329px;
	}*/
	input[type="text"] {
		-webkit-appearance: none;
		outline: 0 none;
		padding: 0;
		text-indent: 10px;
		&:hover {
			border-color: $search-group-hover-border-color;
		}
		&:focus, &:active {
			border-color: $search-group-active-border-color;
		}
		width: $search-group-text-width;
		height: $search-group-height;
		border: $search-group-border;
		border-right: 0;
		border-radius: $search-text-radius;
	}
}

/**
*ALERT COMPONENT
*/
.alert-success,
.alert-error {
	position: fixed;
	top: 40px;
	left: 50%;
	min-width: 200px;
	padding: 10px 20px;
	background: $success-color;
	z-index: 9999;
	color: $fff;
	font-size: 22px;
	text-align: center;
	transform: translate(-50%, 0);
	animation: move 2s ease-out;
}

.alert-error {
	background: $error-color;
}

@keyframes move {

	0% {
		top: -40px;
	}
	25%, 50%, 75%, 100% {
		top: 40px;
	}
}

/**
*CHECKBOX COMPONENT
*/
@mixin checkbox-box($content:'',$active-content:'',$check-width:40px,$check-height:16px,$check-bg:#8091a5,$check-active-bg:#8091a5) {
	.check-model {
		border-radius: $check-height/2;
		width: $check-width;
		height: $check-height;
		background-color: $check-bg;
		cursor: pointer;
		&:before {
			content: $content;
			color: $fff;
			position: absolute;
			top: 4px;
			left: 18px;
			@extend .fs12;
		}
		i {
			width: $check-height - 2px;
			height: $check-height - 2px;
			background: $fff;
			border-radius: ($check-height - 2px)/2;
			transition: all .3s;
			position: absolute;
			top: 1px;
			left: 1px;
		}
	}
	.active {
		background: $check-active-bg;
		transition: all .3s;
		i {
			transition: all .3s;
			left: $check-width - $check-height + 1;
		}
		&:before {
			content: $active-content;
			left: 3px;
			top: 1px;
		}
	}
}

/**
*PAGENATION COMPONENT
*/
$page-active-color: $active-color;
$page-height: 24px;
$page-line-height: 24px;
$page-width: 24px;
.pagination-wrap {
	padding-bottom: 45px !important;
}

.page-list, .ng-table-pager {
	position: absolute;
	left: 50%;
	margin-top: 10px;
	.pagination {
		position: relative;
		float: left;
		left: -50%;
		margin: 0;
		li {
			list-style: none;
			float: left;
			margin-right: 10px;
		}
		a {
			display: block;
			color: $black;
			height: 24px;
			min-width: 24px;
			text-align: center;
			line-height: 24px;
			background: transparent;
			border: 0;
			padding: 0 5px;
			border-radius: 4px;
			&:hover {
				background: transparent;
				color: $black;
			}
			&:active {
				background: $page-active-color;
				color: $fff;
			}
		}
		.active {
			a {
				background: $page-active-color;
				color: $fff;
			}
			&hover a {
				color: $fff;
				cursor: default;
			}
		}
		.disabled a {
			color: #999 !important;
			&:hover, &:active {
				color: #999;
				background: transparent !important;
				cursor: default;
			}
		}
		li:first-child a:active,
		li:last-child a:active {
			background: $page-active-color;
			color: $fff;
		}
		.separate a {
			cursor: default;
			&:hover, &:active {
				color: #999;
				background: transparent !important;
				cursor: default;
			}
		}
	}
}

/**
*TOOLTIPS COMPONENT
*/
.tool-tip {
	position: absolute;
	box-shadow: 2px 2px 5px $shadow-color;
	padding: 5px 10px;
	border: 1px solid $border-color;
	font-size: 12px;
	background: $fff;
	font-family: $yaHei;
	color: $color;
	white-space: nowrap;
	line-height: normal;
	height: auto;
	z-index: 2;
	&:before, &:after {
		position: absolute;
		content: '';
		border: solid transparent;
		height: 0;
		width: 0;
	}
}

.tool-tip-top {
	&:before, &:after {
		top: 100%;
		left: 50%;
	}
	&:after {
		border-width: 5px;
		border-top-color: $fff;
		margin-left: -5px;
	}
	&:before {
		border-width: 7px;
		border-top-color: $border-color;
		margin-left: -7px;
	}
	animation: top-to-bottom .3s ease-out;
	@keyframes top-to-bottom {
		from {
			transform: translateY(10px);
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

.tool-tip-right {
	&:before, &:after {
		top: 50%;
		right: 100%;
	}
	&:after {
		border-width: 5px;
		border-right-color: $fff;
		margin-top: -5px;
	}
	&:before {
		border-width: 7px;
		border-right-color: $border-color;
		margin-top: -7px;
	}
	animation: right-to-left .3s ease-out;
	@keyframes right-to-left {
		from {
			transform: translateX(-10px);
			opacity: 0;
		}
		to {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

.tool-tip-bottom {
	&:before, &:after {
		bottom: 100%;
		left: 50%;
	}
	&:after {
		border-width: 5px;
		border-bottom-color: $fff;
		margin-left: -5px;
	}
	&:before {
		border-width: 7px;
		border-bottom-color: $border-color;
		margin-left: -7px;
	}
	animation: bottom-to-top .3s ease-out;
	@keyframes bottom-to-top {
		from {
			transform: translateY(-10px);
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

.tool-tip-left {
	&:before, &:after {
		top: 50%;
		left: 100%;
	}
	&:after {
		border-width: 5px;
		border-left-color: $fff;
		margin-top: -5px;
	}
	&:before {
		border-width: 7px;
		border-left-color: $border-color;
		margin-top: -7px;
	}
	animation: left-to-right .3s ease-out;
	@keyframes left-to-right {
		from {
			transform: translateX(10px);
			opacity: 0;
		}
		to {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

/**
*MODAL COMPONENT
*/
.modal {
	width: 100%;
	background: rgba(0, 0, 0, .7);
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	display: none;
	@at-root .modal-content {
		width: 400px;
		background: $fff;
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 10px 10px #333;
		border-radius: 2px;
		header {
			@extend .h55;
			@extend .lh55;
			padding: 0 20px;
			background: $active-color;
			h3 {
				@extend .inline-block;
				@extend .fs20;
				color: $fff;
			}
			a {
				@extend .fr;
				padding: 0 10px;
				margin-right: -15px;
				.icon {
					@extend .ml0;
					color: $fff;
				}
				&:hover {
					.icon {
						transform: scale(1.2);
					}
				}
			}
		}

		.modal-wrap {
			padding: 20px;
		}

		footer {
			@extend .tc;
			@extend .h70;
			@extend .lh70;
			border-top: 1px solid $border-color;
		}

		.btn-cancel, .btn-primary {
			@extend .h45;
			@extend .lh45;
			@extend .pl40;
			@extend .pr40;
			@extend .fs20;
		}

		.btn-primary {
			@extend .ml10;
		}
	}
	.modal-lg {
		width: 800px;
	}
}

