/***********************color****************************/
$fff: #fff !default;
$black: #000 !default;
$red: #ff3333 !default;
$success-color: #25c685 !default; //成功提示框颜色
$error-color: #ff7f7f !default; //失败提示框颜色
/*base*/
$yaHei: "Microsoft YaHei UI" !default; //默认字体类型
$font-size: 14px !default; //默认字体大小
$color: #486074 !default; //普通文字颜色
$nav-color: #2c3e50 !default; //顶部栏、导航栏颜色、图标颜色
$active-color: #00aaff !default; //tab选中色、着重文字色
$link-color: #1a53ff !default; //文字链接色
$weak-color: #abc2d5 !default; //弱提示文字颜色
$weak-bg: #eee !default; //弱背景
/*border*/
$border-color: #eee !default; //border颜色
/*btn*/
$btn-primary-color: $active-color; //按钮颜色
$btn-primary-hover-color: #009fef; //按钮hover颜色
$btn-primary-disabled-color: #b8c5cb; //按钮disabled颜色
$btn-danger-color: $red; //按钮颜色
$btn-danger-hover-color: #FF2120; //按钮hover颜色
$btn-danger-disabled-color: $error-color; //按钮disabled颜色
$btn-default-color: #4f5f6f; //默认按钮颜色
$btn-default-hover-color: #4f5f6f; //默认按钮hover颜色
/*aside*/
$aside-width: 220px !default; //左侧导航菜单宽度

$aside-bg-color: #20303c !default; //左侧导航菜单背景颜色
$aside-dt-color: #c9e7f4 !default; //左侧导航菜单dt颜色
$aside-a-color: $fff !default; //左侧导航菜单a标签颜色
$aside-active-color: #178ac3 !default; //左侧导航菜单选中颜色
/*main*/
$main-section-bg-color: #ecf2fb !default; //右侧内容背景底色
/*table*/
$table-odd-bg: #fbfcfd !default; //表格偶数行颜色
/*other*/
$shadow-color: #ddd !default; //shadow颜色
$input-disabled-color: #ecf2fb !default; //表单disabled背景
