
/*******************echarts*************************/
.echarts-container{
	@include stretch(0, 0, 0, 0);
	overflow-x: hidden;
	overflow-y: auto;
	padding:10px 35px;
	.row{
		@extend .h100s
	}
	.col-md-12,.col-md-4{
		.col-wrap {
			background: $fff;
			@extend .h100s;
			@extend .p20;
			@media (max-height: 768px) {
				padding:10px;
			}
		}
		height: 50%;
		.col-header {
			@extend .relative;
			h3 {
				@extend .h30;
				@extend .lh30;
				@extend .fs16;
				@extend .inline-block;
				span {
					@extend .mr20;
					@extend .inline-block;
					@extend .relative;
					@extend .oh;
					@include left-to-right(1px);
					@extend .cursor-pointer;
					&.active, &:hover {
						background: transparent;
					}
				}
			}
			a {
				color: $link-color;
				@extend .h30;
				@extend .lh30;
			}
			.change-mode {
				display: none;
				text-align: center;
				@include stretch(0, 0, false, false);
				cursor: pointer;
				.icon {
					height: 25px;
					width: 25px;
					&:hover {
						color: $black;
					}
				}
			}
			.check-wrap {
				@include stretch(0, 60px, false, false);
			}
			.check-model {
				@include stretch(0, -40px, false, false);
			}
			@include checkbox-box($check-width: 30px, $check-height: 15px, $check-active-bg: $active-color);
		}
		.col-content {
			height: calc(100% - 30px);
			@at-root .list-horizontal {
				width: 50px;
				a {
					@extend .h30;
					@media (max-height: 768px) {
						height: 16px;
					}
					@extend .block;
					transition: color .3s;
					&:hover, &.active {
						color: $active-color;
					}
				}
			}
			@at-root .echarts {
				@extend .wh100s;
			}
			@at-root .col-content-top {
				@extend .tc;
				@extend .h30;
				@extend .lh30;
				@media (max-height: 768px) {
					margin-top: -10px;
				}
				span {
					@extend .mr10;
				}
			}
			@at-root .col-content-bottom {
				height: calc(100% - 30px);
			}
		}
		&:hover .change-mode {
			display: block;
			animation: right-to-left .3s;
		}
		@keyframes right-to-left {
			from {
				transform: translate(20px, -20px);
			}
			to {
				transform: translate(0, 0);
			}
		}
	}
}

/*******************************全屏****************************/
.full-screen {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	z-index: 99999999;
	padding: 0;
}