<header class="home-header">
    <nav>
        <ul class="list-inline clearfix">
            <li><a ui-sref="main.home">账号安全</a></li>
        </ul>
    </nav>
</header>
<section class="user-content">
    <section class="user-top">
        <h3>上次登录</h3>
        <dl class="clearfix">
            <dt>登录时间：</dt>
            <dd>{{vm.user.loginTime | date : 'yyyy-MM-dd HH:mm:ss'}}</dd>
            <dt>IP地址：</dt>
            <dd>{{vm.user.ipAddress}}</dd>
        </dl>
    </section>
    <section class="user-bottom">
        <h3>修改密码 <span>(密码长度为8-20位，至少包含大写字母，小写字母，数字和特殊字符中的两项)</span></h3>
        <form class="form-horizontal reset-pass" role="form" name="vm.resetPassForm" novalidate
              ng-submit="vm.resetPass()">
            <div class="form-group has-feedback">
                <label for="password">原密码：</label>
                <input class="form-control" id="password" type="password" active="vm.submit" validate-password
                       name="password" ng-model="vm.user.oldPass" ng-minlength="8" maxlength="20"
                       field-error="{'minlength':'密码最小为8位'}" required>
            </div>
            <div class="form-group has-feedback">
                <label for="newPassword">新密码：</label>
                <input class="form-control" id="newPassword" type="password" active="vm.submit" validate-password
                       name="newPassword" ng-model="vm.user.newPass" ng-minlength="8" maxlength="20"
                       field-error="{'minlength':'密码最小为8位'}" required>
            </div>
            <div class="form-group has-feedback">
                <label for="repeatNewPassword">确认新密码：</label>
                <input class="form-control" id="repeatNewPassword" active="vm.submit" repeat="newPassword"
                       type="password" validate-password name="repeatNewPassword" ng-model="vm.user.repeatNewPass"
                       ng-minlength="8" ng-maxlength="20" field-error="{'minlength':'密码最小为8位'}" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn-primary" value="保存">
            </div>
        </form>
    </section>
</section>