<header class="hx-content-header clearfix">
    <group-h-x-header-left></group-h-x-header-left>
</header>
<section class="col-wrap">
    <section ng-show="vm.config.sex.show" class="{{vm.config.sex.class}}" ng-class="{'full-screen': vm.sexMode}">
        <header class="col-header">
            <h3>性别</h3>
            <change-mode mode="vm.sexMode"></change-mode>
        </header>
        <section class="col-content">
            <div class="echarts" id="sex"></div>
        </section>
    </section>
    <section ng-show="vm.config.age.show" class="{{vm.config.age.class}}" ng-class="{'full-screen': vm.ageMode}">
        <header class="col-header">
            <h3>年龄</h3>
            <change-mode mode="vm.ageMode"></change-mode>
        </header>
        <section class="col-content">
            <section class="col-content-top">
                <span>最小年龄<mark>{{vm.minAndAvg.minAge}}</mark></span>
                <span>最大年龄<mark>{{vm.minAndAvg.maxAge}}</mark></span>
                <span>平均年龄<mark>{{vm.minAndAvg.avgAge | toFixed : 2}}</mark></span>
            </section>
            <div id="age" class="col-content-bottom"></div>
        </section>
    </section>
    <section ng-show="vm.config.major.show" class="{{vm.config.major.class}}" ng-class="{'full-screen': vm.majorMode}">
        <header class="col-header">
            <h3 ng-if="vm.userType === 1">学院</h3>
            <h3 ng-if="vm.userType === 0">专业</h3>
            <change-mode mode="vm.majorMode" call-back="vm.changeItem()"></change-mode>
        </header>
        <section class="col-content group-base-college">
            <div id="major"></div>
            <div ng-if="vm.items.length > 1" class="tc">
                <a ng-repeat="item in vm.items" href="javascript:;" ng-class="{active: vm.item === item}"
                   ng-click="vm.changeItem(item)"></a>
            </div>
        </section>
    </section>
    <section ng-show="vm.config.origin.show" class="{{vm.config.origin.class}}"
             ng-class="{'full-screen': vm.originMode}">
        <header class="col-header">
            <h3>生源地</h3>
            <change-mode mode="vm.originMode"></change-mode>
        </header>
        <section class="col-content">
            <div class="echarts" id="origin"></div>
        </section>
    </section>
    <section ng-show="vm.config.political.show" class="{{vm.config.political.class}}"
             ng-class="{'full-screen': vm.politicalMode}">
        <header class="col-header">
            <h3>政治面貌</h3>
            <change-mode mode="vm.politicalMode"></change-mode>
        </header>
        <section class="col-content">
            <div class="echarts" id="political"></div>
        </section>
    </section>
    <section ng-show="vm.config.nation.show" class="{{vm.config.nation.class}}"
             ng-class="{'full-screen': vm.nationMode}">
        <header class="col-header">
            <h3>民族</h3>
            <change-mode mode="vm.nationMode"></change-mode>
        </header>
        <section class="stopDorm-section fl">
            <div>总共
                <mark>{{vm.count}}</mark>
                民族，汉族<mark>{{vm.hanNum}}</mark>人，少数民族占比 <span ng-if="vm.percent">
                <mark>{{vm.percent*100 | toFixed : 2}}</mark>
                %</span>，未知<mark>{{vm.nullNum}}</mark>人</div>
        </section>
        <section class="col-content">
            <div class="echarts" id="nation"></div>
        </section>
    </section>
</section>
