<header class="hx-content-header clearfix">
    <group-h-x-header-left></group-h-x-header-left>
    <set-time conf="vm.timeConf"></set-time>
</header>
<section class="col-wrap">
    <section ng-show="vm.config.abnormal.show" ng-class="vm.config.abnormal.class">
        <header class="col-header">
            <h3>异常学生</h3>
            <a class="fr check-list" ng-click="vm.getAbnormalDetail()">查看名单</a>
        </header>
        <section class="col-content student-exp">
            <div>过宅： <mark>{{vm.abnormalData.otaku}}</mark> 人</div>
            <div>晚归： <mark>{{vm.abnormalData.backLate}}</mark> 人</div>
            <div>晚出： <mark>{{vm.abnormalData.outLate}}</mark> 人</div>
            <div>长期晚睡： <mark>{{vm.abnormalData.sleep}}</mark> 人</div>
        </section>
    </section>
    <section ng-show="vm.config.dormInOut.show" ng-class="vm.config.dormInOut.class">
        <header class="col-header">
            <h3>出入宿舍轨迹</h3>
        </header>
        <section class="col-content tc">
            <div ng-if="vm.isLoadingImg" class="is-loading">加载中……</div>
            <img ng-if="!vm.isLoadingImg" ng-src=".{{vm.trackData}}" class="h100s"  alt="出入宿舍轨迹图">
        </section>
    </section>
    <section ng-show="vm.config.lifeRegular.show" class="{{vm.config.lifeRegular.class}}" ng-class="{'full-screen': vm.lifeRegularMode}">
        <header class="col-header">
            <h3>生活规律</h3>
            <change-mode mode="vm.lifeRegularMode"></change-mode>
        </header>
        <section class="col-content clearfix life-rule">
            <aside class="fl">
                <ul class="list-horizontal">
                    <li><a href="javascript:;" ng-class="{active:vm.ruleItem==='total'}" ng-click="vm.changeItem('total')">总体</a></li>
                    <li><a href="javascript:;" ng-class="{active:vm.ruleItem==='breakfast'}" ng-click="vm.changeItem('breakfast')">早餐</a></li>
                    <li><a href="javascript:;" ng-class="{active:vm.ruleItem==='dorm'}" ng-click="vm.changeItem('dorm')">宿舍</a></li>
                    <li><a href="javascript:;" ng-class="{active:vm.ruleItem==='lunch'}" ng-click="vm.changeItem('lunch')">午餐</a></li>
                    <li><a href="javascript:;" ng-class="{active:vm.ruleItem==='dinner'}" ng-click="vm.changeItem('dinner')">晚餐</a></li>
                </ul>
            </aside>
            <div class="fr echarts">
                <div id="lifeRegular"></div>
                <div ng-if="vm.ruleIndex">总体生活规律性：{{vm.ruleIndex}}</div>
            </div>
        </section>
    </section>
    <section ng-show="vm.config.stopDorm.show" class="{{vm.config.stopDorm.class}}" ng-class="{'full-screen': vm.stopDormMode}">
        <header class="col-header">
            <h3>宿舍每天逗留时长</h3>
            <change-mode mode="vm.stopDormMode"></change-mode>
        </header>
        <section class="col-content">
            <section class="col-content-top">
                逗留时长:&nbsp;&nbsp;本群体&nbsp;<mark>{{vm.timeData.groupAvg | toFixed:2}}</mark>&nbsp;h&nbsp;全校平均&nbsp;<mark>{{vm.timeData.schoolAvg | toFixed:2}}</mark>&nbsp;h
            </section>
            <div id="stopDorm" class="col-content-bottom"></div>
        </section>
    </section>
</section>