/*************************table***************************/
table {
	@extend .w100s;
	tr {
		@extend .h40;
		@extend .lh40;
		th {
			@extend .tl;
			@extend .pl20;
			font-weight: normal;
			border-bottom: 1px solid $border-color;
		}
		td {
			@extend .pl20;
			a {
				@extend .mr10;
				color: $link-color;
			}
		}
	}
	tbody > tr:nth-child(even) {
		background: $table-odd-bg;
	}
}

.table-container {
	@include stretch(0, 0, 0, 0);
	@extend .h100s;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 35px;
	.col-wrap {
		background: $fff;
		@extend .h100s;
		@extend .p20;
		@media (max-height: 768px) {
			padding:10px;
		}
		.allResultTable{
			thead{
				tr:nth-child(2){
					display: none;
				}
			}
		}
	}
}