<section class="container-fluid table-container">
    <section class="col-wrap">
        <button class="fr btn-primary mt10" ng-click="vm.showSearch()" ng-if="!vm.showFilter">收起</button>
        <button class="fr btn-primary mt10" ng-click="vm.showSearch()" ng-if="vm.showFilter">搜索</button>
        <table ng-table="vm.tableParams" class="table" ng-class="{allResultTable:vm.showFilter}">
            <tr ng-repeat="item in $data track by item.sId">
                <td title="'序号'" sortable="'cId'" width="10%">{{item.sId}}</td>
                <td title="'提交时间'" sortable="'submitTime'" width="20%">{{item.submitTime}}</td>
                <td title="'学生'" filter="{stuName: 'text'}" sortable="'item.stuName'" width="15%">{{item.stuName}}</td>
                <td title="'学号'" filter="{stuNum: 'number'}" sortable="'item.stuNum'" width="20%">{{item.stuNum}}</td>
                <td title="'学院'" filter="{col: 'text'}" sortable="'col'" width="20%">{{item.col}}</td>
                <td title="'操作'" width="15%">
                    <a ng-click="vm.goPersonResult()">查看问卷</a>
                </td>
            </tr>
        </table>
    </section>
</section>